@import "./variables";

/** Header **/
$headerBg: $primary-color;
$headerLogoColor: $primary-color;

/*** Main section **/
$main-text-color: white;
$link-color: darken($primary-color, 1);
$body-bg: #2f2f2f;

/** Buttons **/

/** Inputs **/
